<h1>Projects</h1>

<a href="<%= project_path(@conn, :new) %>" class="btn btn-primary">New Project</a>

<div id="projects">
  <%= for project <- @projects do %>
    <h2><a href="<%= project_path(@conn, :show, project) %>"><%= project.title %></a></h2>
    <p><%= project.description %></p>
  <% end %>
</div>
