<header>
  <h1>
    <%= @ticket.title %>
    <small><%= @project.title %></small>
  </h1>
</header>

<ul class="list-inline">
  <li><%= link "Edit Ticket", to: ticket_path(@conn, :edit, @ticket), class: "btn btn-primary" %></li>
</ul>

<p><%= @ticket.description %></p>
