@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";

body { margin-top: 70px; }

header {
  @extend .page-header;
  padding-bottom: 0px;
  margin-top: 20px;
}

#projects h2 { font-size: 18px; font-weight: bold; }
